/* OrdersPage.module.css */

/* General Section Styling */
.ordersPageSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    gap: 20px;
    max-width: 100vw;
}

/* Products Container */
.productsContainer {
    display: flex;
    flex-direction: column;
    min-width: 65%;
    min-height: 400px;
    gap: 20px;
}

/* Products Div */
.productsDiv {
    flex: 2;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    /* min-height: 190px; */
    max-height: 280px;
    overflow-y: scroll;
    gap: 5px 0px;
}

.productsDiv h3 {
    font-size: 1.2rem;
    margin: 10px 0px;
}

/* Product Card */
.productCard {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin: 10px 0;
    background: #fafafa;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    min-height: 210px;
    max-height: 250px;
    max-width: 100%;
}

.imageContainer {
    max-width: 20%;
    padding: 10px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.productDetails {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 15px 0px;
    margin: 0;
    padding: 0;
}

.productDetails p {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

.productButtons {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.productButtons button {
    background-color: hsl(0, 100%, 47%);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.productButtons button:hover {
    background-color: hsl(0, 100%, 37%);
}

.productButtons button:disabled {
    background-color: #ddd;
}

.quantityButtonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
}

.quantityButtonsDiv p {
    margin: 0;
    padding: 10px 0px;
    font-size: 1.1rem;
    font-weight: bold;
}

.quantityButtonsDiv button {
    background-color: #939ea5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.quantityButtonsDiv button:hover {
    background-color: hsl(203, 9%, 80%);
}

.quantityButtonsDiv button:active {
    scale: 0.92;
}

/* Confirm Booking Div */
.confirmBookingDiv {
    flex: 1;
    max-height: 60px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 50px;
}

.confirmBookingDiv p {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0;
}

.totalPriceTag span {
    font-weight: bold;
    color: #2c3e50;
}

.confirmBookingDiv button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.confirmBookingDiv button:hover {
    background-color: hsl(145, 63%, 32%);
}

/* Prices Div */
.pricesContainer {
    min-width: 30%;
    max-width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    min-height: 380px;
}

.pricesContainer h3 {
    font-size: 1.4rem;
}

.pricesContainer p {
    font-style: italic;
    font-size: 1.2rem;
    margin: 15px 0px;
    padding: 10px 0px;
}

.pricesContainer p span {
    font-weight: bold;
    color: #3498db;
}

/* Responsive Design */
@media (max-width: 768px) {
    .productsContainer {
        flex-direction: column;
        align-items: center;
    }

    .productsDiv, .confirmBookingDiv, .pricesContainer {
        width: 100%;
        max-width: 100%;
    }
}
