.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 80px;
    z-index: 1000;
    /* animation: fadeIn 0.5s ease-in-out; */
}

.popupContent {
    text-align: center;
    color: black;
    position: relative;
}

.okButton, .closeButton {
    margin-top: 10px;
    padding: 8px 12px;
    background: rgb(0, 162, 38);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.closeButton {
    position: absolute;
    top: -80px;
    right: -70px;
    background: rgb(255, 41, 41);
}

.closeButton:hover {
    background: darkred;
}

.okButton:hover {
    background: darkgreen;
}


/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}