.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.productDetails {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  max-height: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageDiv {
  flex: 1;
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.details {
  flex: 1;
  padding: 20px; /* Reduced padding */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px; /* Adjusted gap */
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
}

.productName {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
}

.productName span {
  font-weight: bold;
  color: #6c757d;
}

.description {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.5;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28a745;
}

.rating {
  font-size: 1.5rem;
  color: #ffc107;
  display: flex;
  gap: 10px;
  align-items: center;
}

.ratingImg {
    width: 100px;
}

.addToCartButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .productDetails {
    flex-direction: column;
    max-height: 650px;
  }

  .imageDiv {
    max-width: 100%;
  }

  .productImage {
    max-height: 300px;
  }

  .details {
    padding: 15px;
    text-align: center; /* Center-align text for better presentation */
  }

  .title {
    font-size: 1.5rem;
  }

  .price {
    font-size: 1.2rem;
  }

  .addToCartButton {
    width: 100%;
  }
}
